.navbar
{
    display: flex;
    justify-content: space-between;
    padding: 3vh 6vh;
    border-bottom: 1px solid rgb(201, 197, 197);
    top: 0;
    position: sticky;
    background-color: white;
}

.navbar_links
{
    display: flex;
    align-items: center;
}

.navbar_links_header
{
    font-size: 28px;
    display: flex;
    align-items: center;
}

.navbar_links_header button
{
    border:none;
    background-color: transparent;
    margin-right: 2vh;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    display: none;
}

.burger_icon *
{
    color: green;
    font-size: 30px;
    }

.navbar_links_header a
{
    color: green;
    font-weight: bold;
}

.navbar_links_items
{
    padding: 0 10vh;
}

.navbar_links_items a
{
    padding: 0 2vh;
    font-weight: bold;
    font-size: 18px;
}

.navbar_links_items a:hover
{
    color: green;
    transition: 0.5s;
}

.bag
{
    font-size: 30px;
}

.btn_bag
{
    background-color: white;
    border: none;
    cursor: pointer;
    position: relative;
}

.value_bag
{
    border-radius: 50%;
    padding: 5px;
    height: 3vh;
    width: 3vh;
    background-color: green;
    font-weight: bold;
    color: white;
    position: relative;
    text-align: center;
    top: -40px;
    right: 5px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items_navbar_mobile
{
    background-color: rgb(243, 239, 239);
    height: 90vh;
}

.items_navbar_mobile_links
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.items_navbar_mobile_links a
{
    margin: 5vh 0;
    color: black;
    font-weight: bold;
    font-size: 30px;
}

.close_navbar_mobile
{
    color: red;
    font-weight: bold;
    font-size: 35px;
    border: none;
    background-color: transparent;
    position: relative;
    top: 10px;
    right: 10px;
    float: right;
    cursor: pointer;
}

@media only screen and (max-width: 1000px)
{
    .navbar_links_header button
    {
        display: block;
    }
    .navbar_links_items
    {
        display: none;
    }
}