.principal
{
    display: flex;
    padding: 5vh;
    margin: 7vh 0;
} 

.principal_img
{
    width: 50%;
    text-align: center;
}

.principal_img img
{
    border: 1px solid rgb(199, 194, 194);
    padding: 2vh;
    width: 50%;
    border-radius: 10px;
}

.principal_info
{
    width: 50%;
    padding-right: 20%;
    text-align: justify;
}

.principal_info h2
{ 
    padding-bottom: 2vh;
}

.principal_info p
{
    padding-bottom: 2vh;
}

.principal_info button
{
    cursor: pointer;
    padding: 1vh;
    font-weight: bold;
    border: none;
    background-color: green;
    color: white;
    border-radius: 6px;
    font-size: 16px;
}

.price
{
    font-size: 18px;
    font-weight: bold;
}

@media only screen and (max-width: 1000px)
{
    .principal
    {
        flex-direction: column;
        align-items: center;
    }
    .principal_img, .principal_info, .principal_img img
    {
        width: 100%;
    }
    .principal_info
    {
        padding: 2vh 0;
    }

}